@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Rubik+Wet+Paint&display=swap');

body {
    font-family: 'Nanum Gothic Coding', monospace;
    background-color: maroon;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
    font-weight: 900;
    margin: 10px;
    background-color: rgba(245, 245, 245, 0.884);
}

input[type="radio"] {
    display:none;
}

input[type="radio"]:checked + img {
    border: 10px solid rgb(209, 21, 21);
}

.character-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.474);
}

img {
    border-radius: 40px;
    margin: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 25px;
}

h2 {
    font-size: 40px;
}

label {
    text-align: center;
}

#logout {
    margin: 10px;
    font-size: 30px;
    font-family: 'Rubik Wet Paint', cursive;
    background: -webkit-linear-gradient(rgb(1, 1, 1), rgb(214, 19, 19));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    cursor: pointer;
}

#btn {
    align-self: baseline;
}

#startbtn {
    display: flex;
    justify-content: center;
    margin: 20px;
    position: sticky;
    bottom: 20px;
}

#start:hover {
    cursor: pointer;
}

#start {
    height: 80px;
    width: 325px;
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 70px;
    background: -webkit-linear-gradient(rgb(5, 5, 5), rgb(150, 20, 10));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

.knife:hover {
    cursor: url('../assets/knife.png'), auto;
}