header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="radio"] {
    /* display:none; */
}

input[type="radio"]:checked + img {
    border: 5px solid black;
}

.character-select {
    display: flex;
    flex-direction: row;
}

img {
    border-radius: 80px;
}