@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Rubik+Wet+Paint&display=swap');

#david {
    font-family: 'Nanum Gothic Coding', monospace;
    border: 5px black solid;
    margin: 5px;
}

#amanda {
    font-family: 'Nanum Gothic Coding', monospace;
    border: 5px black solid;
    margin: 5px;
}

#morgan {
    font-family: 'Nanum Gothic Coding', monospace;
    border: 5px black solid;
    margin: 5px;
}

#niki {
    font-family: 'Nanum Gothic Coding', monospace;
    border: 5px black solid;
    margin: 5px;
}

#chad {
    font-family: 'Nanum Gothic Coding', monospace;
    border: 5px black solid;
    margin: 5px;
}

h2 {
    font-family: 'Rubik Wet Paint', cursive;
}

h3 {
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 35px;
}

.credits {
    display: flex;
    justify-content: space-evenly;
}

#pic {
    border: 5px black solid;
    border-radius: 50%;
    height: 175px;
    display: flex;
    justify-content: center;
    margin: 30px;
}