@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Rubik+Wet+Paint&display=swap');

#david {
    font-family: 'Nanum Gothic Coding', monospace;
    margin: 5px;
    font-size: 25px;
    background: -webkit-linear-gradient(rgb(7, 7, 7), rgb(214, 19, 19));
    -webkit-text-fill-color: whitesmoke;    
    position: relative;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    text-align: center;
}

#amanda {
    font-family: 'Nanum Gothic Coding', monospace;
    margin: 5px;
    font-size: 25px;
    background: -webkit-linear-gradient(rgb(7, 7, 7), rgb(214, 19, 19));
    -webkit-text-fill-color: white;
    position: relative;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    text-align: center;
}

#morgan {
    font-family: 'Nanum Gothic Coding', monospace;
    margin: 5px;
    font-size: 25px;
    background: -webkit-linear-gradient(rgb(7, 7, 7), rgb(214, 19, 19));
    -webkit-text-fill-color: white;
    position: relative;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    text-align: center;
}

#niki {
    font-family: 'Nanum Gothic Coding', monospace;
    margin: 5px;
    font-size: 25px;
    background: -webkit-linear-gradient(rgb(7, 7, 7), rgb(214, 19, 19));
    -webkit-text-fill-color: white;
    position: relative;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    text-align: center;
}

#chad {
    font-family: 'Nanum Gothic Coding', monospace;
    margin: 5px;
    font-size: 25px;background: -webkit-linear-gradient(rgb(7, 7, 7), rgb(214, 19, 19));
    -webkit-text-fill-color: white;
    position: relative;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    text-align: center;
}

h2 {
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 35px;text-align: center;
    padding-bottom: 45px;
}

h3 {
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 55px;
    color: rgb(185, 48, 48);
    text-align: center;
}

.credits {
    display: flex;
    justify-content: space-evenly;
}

.pic {
    border: 5px black solid;
    border-radius: 75%;
    height: 250px;
    align-content: center;
}

@keyframes bounce {
    0% { top: 0px; }
    50% { top:200px; }
    100% { top: 0px; }
}

body {
    background-color: bisque;
}

.details {
    padding-top: 45px;
}

#thanks {
    position: sticky;
    font-size: 24px;
    color: black;
    width: fit-content;
}